* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url(https://i.natgeofe.com/n/1fcbc190-9968-4466-93b4-f32241c835e3/mount-fuji-clouds-weather-japan_16x9.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-family: 'Montserrat', sans-serif;
}

.shadow-body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
}

.wrapper {
	width: 800px;
	height: 400px;
	background-color: rgb(40, 38, 38);
	color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px black;
}

.wrapper h1 {
	margin: 30px;
	text-align: center;
}

.wrapper .fa-cloud-sun {
	margin-right: 10px;
}

.search-box {
	margin-left: 30px;
	display: flex;
	justify-content: center;
}

.search-box .search {
	background-color: rgba(0, 0, 0, 0.4);
	border: 1px solid black;
	border-radius: 5px;
	font-size: 22px;
	color: #fff;
	padding: 10px;
}

.search-box .search-btn {
	margin-left: 10px;
	width: 60px;
	border: 1px solid black;
	background: linear-gradient(310deg, rgb(23, 255, 166) 0%, rgb(23, 209, 255) 100%);
	border-radius: 5px;
	cursor: pointer;
}

.selected-city {
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.selected-city .city {
	visibility: hidden;
	margin-left: 10px;
}

.telemetry {
	margin-top: 10px;
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	visibility: hidden;
}

.weather,
.temperature,
.feels-like,
.humandity {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.temp,
.feel,
.hum {
	margin-top: 35px;
	font-weight: bold;
	font-size: 28px;
}

.error {
	text-align: center;
	margin-bottom: 10px;
	color: tomato;
	font-size: 28px;
}

.modal-shadow {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
	height: 550px;
	padding: 30px 60px;
	border-radius: 15px;
	color: #fff;
	background-color: rgb(40, 38, 38);
	box-shadow: 0 0 10px black;
}

.modal h3 {
	margin-bottom: 20px;
}

.modal img {
	width: 40px;
}

.modal p {
	display: flex;
	align-items: center;
}

.modal .close {
	margin-top: 40px;
	height: 40px;
	border: 1px solid black;
	background: linear-gradient(310deg, rgb(23, 255, 166) 0%, rgb(23, 209, 255) 100%);
	border-radius: 5px;
	cursor: pointer;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}
